{% extends 'website/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "website/css/titles.css" %}">
{% endblock %}

{% block workwrap %}
	<h1>{{ actor.1 }}</h1>
{% endblock %}

{% block content %}
<div class="row">
	<center><h2>Number of titles: {{ num }}</h2></center>
</div>
<hr/>
<div class="row">
		{% for title in titles %}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				
				{% if title.2 == 'Monologue' %}
					<div class="offer offer-radius offer-primary titleDiv">
				{% else %}
					{% if title.2 == 'Sketch' %}
						<div class="offer offer-radius offer-danger titleDiv">
					{% else %}
						{% if title.2 == 'Show' %}
							<div class="offer offer-radius offer-default titleDiv">
						{% else %}
							{% if title.2 == 'Musical Performance' or title.4 == 'Guest Performance' %}
								<div class="offer offer-radius offer-success titleDiv">
							{% else %}
								{% if title.2 == 'Weekend Update' or title.4 == 'Commercial' or title.4 == 'Miscellaneous' %}
									<div class="offer offer-radius offer-warning titleDiv">
								{% else %}
									<div class="offer offer-radius offer-info titleDiv">
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}

						<div class="shape">
							<div class="shape-text">
								{{ title.2 }}								
							</div>
						</div>
						<div class="offer-content">
							<a href="/title/{{ title.0 }}">
								<h4 class="lead">
								{% if title.1 is None %}
									N.A.
								{% else %}
									{{ title.1 }}
								{% endif %}
								</h4>						
							</a>
							<p>
								<a href="/title/{{ title.0 }}"><em>Title No.:</em> {{ title.0 }}</a>
							</p>
							<p>	<a href="/episode/{{ title.4 }}_{{ title.5 }}"> <em>Episode:</em> S{{ title.4 }}_E{{ title.5 }}</a>
							</p>	
								<br>
								<!-- ROLE TYPE -->
								<!-- <a href="/type/{{ title.4 }}"> -->
									<center>~~ {{ title.3 }} ~~</center>
								<!-- </a> -->
							
						</div>
					</div>

			</div>
		{% endfor %}

	</div>
{% endblock %}