{% extends 'website/base.html' %}
{% load static %}
{% block extrahead %}
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static "website/css/titles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "website/css/star-rating.css" %}">
{% endblock %}

{% block workwrap %}
	<h1>SNL S{{ sid }}_E{{ eid }}</h1>
{% endblock %}

{% block content %}
<div class='row'>
	<h1>Ratings</h1>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-6'>
	 	<p> <b>Avg. :</b> <input class="input-3" name="input-3" value="{{ rating.1 }}" data-min="0" data-max="10" class="rating-loading" data-size="xs"> - Voted by {{ rating.0 }}</p>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-6'>
		<p> <b>Age 18 - 29 :</b> <input class="input-3" name="input-3" value="{{ rating.3 }}" data-min="0" data-max="10" class="rating-loading" data-size="xs"> - Voted by {{ rating.2 }}</p>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-6'>
		<p> <b>Age 30 - 44 :</b> <input class="input-3" name="input-3" value="{{ rating.5 }}" data-min="0" data-max="10" class="rating-loading" data-size="xs"> - Voted by {{ rating.4 }}</p>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-6'>
		<p> <b>Age 45+ :</b> <input class="input-3" name="input-3" value="{{ rating.7 }}" data-min="0" data-max="10" class="rating-loading" data-size="xs"> - Voted by {{ rating.6 }}</p>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-6'>
		<p> <b>Age less than 18 :</b> <input class="input-3" name="input-3" value="{{ rating.9 }}" data-min="0" data-max="10" class="rating-loading" data-size="xs"> - Voted by {{ rating.8 }}</p>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-6'>
		<p> <b>Non-US voters :</b> <input class="input-3" name="input-3" value="{{ rating.11 }}" data-min="0" data-max="10" class="rating-loading" data-size="xs"> - Voted by {{ rating.10 }}</p>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-6'>
		<p> <b>US voters :</b> <input class="input-3" name="input-3" value="{{ rating.13 }}" data-min="0" data-max="10" class="rating-loading" data-size="xs"> - Voted by {{ rating.12 }}</p>
	</div>

</div>

	<div class="row">

		{% for title in titles %}
			{% if forloop.first %}
				<h2>Titles</h2>
			{% endif %}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				
				{% if title.4 == 'Monologue' %}
					<div class="offer offer-radius offer-primary titleDiv">
				{% else %}
					{% if title.4 == 'Sketch' %}
						<div class="offer offer-radius offer-danger titleDiv">
					{% else %}
						{% if title.4 == 'Show' %}
							<div class="offer offer-radius offer-default titleDiv">
						{% else %}
							{% if title.4 == 'Musical Performance' or title.4 == 'Guest Performance' %}
								<div class="offer offer-radius offer-success titleDiv">
							{% else %}
								{% if title.4 == 'Weekend Update' or title.4 == 'Commercial' or title.4 == 'Miscellaneous' %}
									<div class="offer offer-radius offer-warning titleDiv">
								{% else %}
									<div class="offer offer-radius offer-info titleDiv">
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}

						<div class="shape">
							<div class="shape-text">
								{{ title.4 }}								
							</div>
						</div>
						<div class="offer-content">
							<a href="/title/{{ title.2 }}">
								<h4 class="lead">
								{% if title.3 is None %}
									N.A.
								{% else %}
									{{ title.3 }}
								{% endif %}
								</h4>						
							</a>
							<p>
								<a href="/title/{{ title.2 }}">Title No.: {{ title.2 }}</a>
								<br>
								<!-- <a href="/type/{{ title.4 }}"> -->
									<center>~~ {{ title.4 }} ~~</center>
								<!-- </a> -->
							</p>
						</div>
					</div>

			</div>
		{% endfor %}

	</div>
<!-- </div> -->
<hr/>
	<div class='row'>
	{% for actor in actors %}
		{% if forloop.first %}
			<h2>Actors</h2>
		{% endif %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-radius offer-info inTitleActor">
				<div class="shape">
					<a href="/actor/{{ actor.0 }}">
					<div class="shape-text">
					{{ actor.0 }}								
					</div>
					</a>
				</div>
				<div class="offer-content">
					<a href="/actor/{{ actor.0 }}">
						<h4 class="lead">
						{% if actor.1 is None %}
							N.A.
						{% else %}
							{{ actor.1 }}
						{% endif %}
						</h4>						
					</a>
					<p>
						<a href="/actor/{{ actor.0 }}">ID : {{ actor.0 }}</a>
						<br><br>
						Click card to know more...
					</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>


{% endblock %}

{% block extrajs %}
	<script src="{% static "website/js/star-rating.js" %}" type="text/javascript"></script>
	<script>
		$(document).on('ready', function(){
		    $('.input-3').rating({displayOnly: true, step: 0.1});
		});
	</script>
{% endblock %}